.progress-bar {
  height: 6px;
  border-radius: 6px;
}

.progress-1 {
  background: rgba(233, 105, 74, 1);
}

.progress-2 {
  background: rgba(243, 192, 47, 1);
}

.progress-3 {
  background: rgba(150, 181, 222, 1);
}

.progress-4 {
  background: rgba(153, 190, 113, 1);
}
