.progress-bar {
  height: 6px;
  border-radius: 6px;
}

.progress-1 {
  background: #e9694a;
}

.progress-2 {
  background: #f3c02f;
}

.progress-3 {
  background: #96b5de;
}

.progress-4 {
  background: #99be71;
}
